
body {
    font-family: Arial, Helvetica, sans-serif;
   
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: "Pacifico";
}

 h1 {
    font-family: "Pacifico";
    font-size: 4em;
    text-align: center
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #00ccff;
    
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.jumbotron .container h1 {
    font-family: "Pacifico";
    font-size: 4em;
}


.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
    color: inherit;
    background-color: #a1eaff;
}

.imageGallery {
  float: left;
  padding: 5px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin: 20px;
}


#name-span {
    position: relative;
    top: 171px;
    margin-left: 231px;
    font-size: 26px;
    
}

#sender-span {
    position: relative;
    top: 271px;
    margin-left: 231px;
    font-size: 26px;
    
}

img {
  height: 450px;
  width: 450px;
  
}

.img-g {
  height: 350px;
  width: 350px;
  
}

#myCanvas{
  border: solid 1px blue;  
  width: 100%;
}



.btnPosition {
    display: inline-block;
    margin-left: 120px;
    position: relative;
     
}

.item-selected {
  border: 4px solid red;
}


.hide {
    display: none;
}


.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
   
    
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    font-size: 18px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.card-item {
    cursor: pointer;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 3px 7px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 20px;
}

.fa-li {
    position: inherit;
    left: 10em;
    width: 70em;
    top: 10em;
    text-align: center;
}

.fa {
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: larger;
    color: #46b8da;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.line-space{
    line-height: 40px;

}

