
body {
    font-family: Arial, Helvetica, sans-serif;
   
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: "Pacifico";
}

 h1 {
    font-family: "Pacifico";
    font-size: 4em;
    text-align: center
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center
}

.jumbotron .container h1 {
    font-family: "Pacifico";
    font-size: 4em;
}

.recipe-item {
    cursor: pointer;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #a1eaff;
}
