<!-->
<div class="container">
    
   

    
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-repeat="cards in cardsArr" >
        
        <div class="well card-item" ng-click="openDetails($index)">
            
            <img ng-src="{{cards.imageUrl}}" class="img-responsive" alt="Image">
            <h3>{{cards.name}}</h3>
            <p>{{cards.blessingText}}</p>

        </div>
        
    </div>
    
    
</div>
-->

 <form class="text-center">
    <input type="text" name="search" id="search" placeholder="Filter cards" ng-model="filterText" /> Sort by:
    <select ng-model="orderProp">
      <option value="">None</option>
      <option value="cardTitle">Card Title</option>
     

    </select>
    <br>
    <br>


  </form>

   <div>

       <h3  >Choose a template card  </h3>
      <div class="imageGallery text-center  well card-item " ng-click="openDetails($index)" ng-repeat="card in cards |  orderBy:orderProp"  ng-class="{'item-selected':cards.isSelected}">

        <img class="imageGallery " ng-src="{{card.img}}" />
        <p >{{card.cardTitle}}</p>
      </div>

    </div>


  <div class="clearfix"></div>


