<div class="container">

  
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="page-header">
    <h3>The Selected Card: {{card.cardTitle}}</h3>
  </div>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="name" placeholder="Enter birthday name" ng-model="card.name" ng-keyup="updateCanvas()">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Sender Name:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="name" placeholder="Enter the sender name" ng-model="card.sender" ng-keyup="updateCanvas()">
        </div>
      </div>
     
    
            <div class="form-group">
        <label class="control-label col-sm-2" for="name">e-mail:</label>
        <div class="col-sm-4">
          <input type="email" class="form-control" name="" id="input1/(\w+)/\u\1/g" value="" required="" title="" placeholder="Enter the email">


        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <div class="pull-right">
            <button type="submit" class="btn btn-default" ng-click="back()">back</button>
            <button type="submit" class="btn btn-primary" ng-click="update()">Send</button>
           
          </div>
        </div>
      </div>
    </form>
  </div>


  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6  hide">
    <span id="name-span">{{card.name}}</span>
    <span id="sender-span">{{card.sender}}</span>
    <img id="pic" ng-src="{{card.img}}" class=" img-responsive block-center" alt="Image" imageonload="imageLoaded()">
  </div>

  <!--   -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

    <canvas id="myCanvas" width="450" height="450" style="border:1px solid #d3d3d3;">
      Your browser does not support the HTML5 canvas tag.</canvas>

  </div>

         
            <h4> Download your Greeting Card :</h4> <a id="downloadButton" ng-click="download()" class="btn btn-info  pull-right" role="button">Download</a>

      
</div>
