<div class="container">

  <div class="page-header">
    <h3>The Selected Card: {{card.cardTitle}}</h3>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="name" placeholder="Enter birthday name" ng-model="card.name" ng-keyup="updateCanvas()">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Sender Name:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="name" placeholder="Enter the sender name" ng-model="card.sender" ng-keyup="updateCanvas()">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">e-mail:</label>
        <div class="col-sm-4">
          <input type="email" class="form-control" name="" id="input1/(\w+)/\u\1/g" value="" required="" title="" placeholder="Enter the email">


        </div>
      </div>



      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <div class="pull-right">
            <button type="submit" class="btn btn-default" ng-click="back()">back</button>
            <button type="submit" class="btn btn-primary" ng-click="update()">Send</button>

          </div>
        </div>
      </div>
    </form>
  </div>


  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  hide" >
    <span id="name-span">{{card.name}}</span>
    <span id="sender-span">{{card.sender}}</span>
    <img id="pic" ng-src="{{card.img}}" class=" img-responsive block-center" alt="Image" imageonload="imageLoaded()">
  </div>
  <!--   -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

    <canvas id="myCanvas" width="500" height="500" style="border:1px solid #d3d3d3;">
      Your browser does not support the HTML5 canvas tag.</canvas>

  </div>


  <a id="downloadButton" ng-click="download()" class="btn btn-info" role="button">Download</a>

</div>


<!--
<script>
  myCanvas();

  function myCanvas() {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var img = document.getElementById("pic");
    ctx.drawImage(img, 10, 10);

    // var c = document.getElementById("myCanvas");
    // var ctx = c.getContext("2d");
    // ctx.font = "30px Arial";
    // ctx.fillText("name", 50, 50);

    // var c = document.getElementById("myCanvas");
    // var ctx = c.getContext("2d");
    // ctx.font = "30px Arial";
    // ctx.fillText("name2", 50, 250);

  }
</script>-->