<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <script src="app.js"></script>
  <!--<script src="app/Actors/C.js"></script>-->

</head>

<body ng-app="mActors">

  <div>
    <header class="headertitle">
      SARIT Actors and Movies APP
    </header>
    <nav class="headertitle">

      <button> <a href="#!/actors">Actors</a> </button>
      <button><a href="#!/movies">Movies</a> </button>
    </nav>
  </div>

  <div class="clearfix"></div>
  

  <main ng-view class="mainarea">

  </main>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> --------------------------------------------------------

  <h1>Movies Actors!</h1>

  <form>
    <input type="text" name="search" id="search" placeholder="Filter actors" ng-model="filterText" /> Sort by:
    <select ng-model="orderProp">
      <option value="">None</option>
      <option value="firstName">First Name</option>
      <option value="lastName">Last Name</option>

    </select>
    <br>
    <br>

    <div class="gallery" ng-controller="ActorsListCtrl">
      <div class="imageGallery" ng-repeat="actor in actors | filter:filterByFullName | orderBy:orderProp" ng-click="liClicked(actor)" ng-class="{'item-selected':actor.isSelected}">

        <img class="imageGallery" src="{{actor.img}}" />
        <p class="actorname"><a href="{{actor.url}}" target="_blank">{{actor.fullName()}}</a></p>
      </div>

    </div>
  </form>
  <div class="clearfix"></div>

  <br>
  <br>







  <!-- here is the second modellllllllllllllllllllllllllllllllllllllll -->
  <br>
  <br>


  <div>
    <h1>MOVILIM</h1>


    <form>
      <input type="text" name="search" id="search" placeholder="Filter movies" ng-model="filtermovie" /> Sort by:
      <select ng-model="orderProp">
        <option value="">None</option>
        <option value="movieName">Movie Name</option>
        <option value="movieLength">Movie Length</option>
        <option value="movieActor">Movie Actor</option>
        <option value="movieDirector">Movie Director</option>

      </select>
      <br>
      <br>
    </form>
    <div ng-controller="MoviesListCtrl">
      <movie ng-repeat="movie in movies | filter:filterBymovueName | orderBy:orderProp"></movie>
    </div>
    <!--this div moved to movie.html - by directive /////////
<div ng-controller="MoviesListCtrl">
  -->
    <div class="movieText" ng-repeat="movie in movies | filter:filterBymovueName | orderBy:orderProp">
      <a href="{{movie.url}}" target="_blank">{{movie.movieName}}</a>, ({{movie.movieLength}}, {{movie.movietimeunit}}), {{movie.movieActor}}, {{movie.movieDirector}}
    </div>

  </div>




  <div class="clearfix"></div>


</body>

</html>